.content-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.relative-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.relative-wrapper span {
  display: inline;
  position: absolute;
  font-size: 30px;
  color:rgb(255, 255, 255);
  bottom: 30px;
  left: 30px;
  text-shadow: rgb(0, 0, 0) 5px 5px 5px;
}

.relative-wrapper {
  margin: 50px 0;
  width: 500px;
  height: 500px;
  position: relative;
  background:rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.memes-prontos {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.memes-prontos img{
  width: 68px;
  height: 68px;
  margin-right: 10px;
  border: 1px solid black;
}

.border {
  width: 110px;
  height: 40px;
  color: white;
  border-style: none;
  box-shadow: 3px 3px;
  margin-left: 5px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}