h1 {
  text-align: center;
}

#meme-image-container {
  height: 400px;
  width: 400px;
  border: solid 1px black;
  background-color: white;
}
#meme-image {
  position: absolute;
  height: 400px;
  width: 400px;
  z-index: 1;
}
#meme-text {
  position: absolute;
  z-index: 2;
  left: 50px;
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  color: white;
}
#earth {
  background-color: green;
  height: 50px;
  width: 120px;
  border-radius: 50%;
}
#fire {
  background-color: red;
  height: 50px;
  width: 120px;
  border-radius: 50%;
}
#water {
  background-color: blue;
  height: 50px;
  width: 120px;
  border-radius: 50%;
}
.botoes {
  height: 100px;
}
#bibliotecaDeMemes {
  height: 300px;
}
#meme-1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: solid 3px black;
}

#meme-2 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: solid 3px black;
}

#meme-3 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: solid 3px black;
}
#meme-4 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: solid 3px black;
}
#bibliotecaDeMemes img {
  width: 100px;
  height: 100px;
}
