#text-input {
  display: block;
}

#meme-image-container {
  height: 450px;
  width: 450px;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
}
img{
  height: 450px;
  width: 450px;
  z-index: 1;
  position: absolute;
}

p {
  color: white;
  font-size: 30px;
  z-index: 2;
  text-shadow: black 5px 5px 5px;
  position: absolute;
}

#meme-collection {
  margin-top: 30px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#meme-1 {
  display: inline-block;
  width: 100px;
  height: 100px;
}

#meme-2 {
  display: inline-block;
  width: 100px;
  height: 100px;
}

#meme-3 {
  display: inline-block;
  width: 100px;
  height: 100px;
}

#meme-4 {
  display: inline-block;
  width: 100px;
  height: 100px;
}

#meme-collection img {
  width: 100px;
  height: 100px;
}
