* {
  font-family: Impact, Haettenschweiler, sans-serif;
}

body {
  background-image: url('https://i.imgflip.com/3dvawg.jpg');
  background-size: cover;
  background-position: top;
  text-align-last: center;
}

h1 {
  font-size: 50px;
  color: white;
  text-shadow: 5px 5px 5px black;
}

h2 {
  margin-bottom: 10px;
  text-decoration: underline;
  color: rgb(79 , 139 , 79);
}

#meme-image-container {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  position: relative;
  margin: auto;
}

#meme-image {
  width: 300px;
  height: 300px;
  object-fit: fill;
  z-index: 0;
  position: absolute;
}

#meme-text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  max-width: 280px;
  margin: 0 10px 10px;
  overflow-wrap: break-word;
  justify-content: center;
}

#fire {
  background-color: red;
  font-family: “Open Sans”, sans-serif;
  color: whitesmoke;
  text-shadow: 0 -2px 4px white, 0 -2px 10px rgb(255 , 255 , 51),
    0 -10px 20px rgb(255, 153, 0), 0 -20px 40px rgb(204, 51, 51);
}

#water {
  background-color: blue;
  position: relative;
  color: white;
}

#water h3 {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
  margin: 0;
  top: 2px;
  position: absolute;
  font-size: 29px;
}

@keyframes animate {

  0% , 100% {
  clip-path: polygon(0 42% , 10% 49% , 16% 56% , 24% 61% , 35% 58% ,43% 54% , 
    54% 48% , 63% 45% , 73% 47% , 83% 53% , 92% 57% , 100% 53% , 100% 100% , 0 100%);
  }

  50% {
  clip-path: polygon(0 67% , 13% 66% , 23% 61% , 34% 53% , 42% 47% ,51% 45% , 
    59% 48% , 70% 55% , 78% 59% , 86% 63% , 97% 64% , 100% 65% , 100% 100% , 0 100%);
  }
}

#earth {
  background-color: green;
  color: brown;
}

#earth:hover , #fire:hover , #water:hover {
  transform: scale(1.5);
  transition: 500ms;
}

#memes-conhecidos div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}

#memes-conhecidos div:hover {
  transform: scale(1.5);
  transition: 300ms;
}

#memes-conhecidos div img {
  width: 100px;
  height: 100px;
  object-fit: fill;
}

#input-text , #choose-file {
  margin-bottom: 10px;
}

#meme-insert {
  background-color: rgb(79 , 139 , 79);
}

#meme-insert:hover {
  background-color: rgb(55 , 82 , 55);
  transform: scale(1.5);
  transition: 400ms;
  margin-right: 20px;
}

#customize-borders button {
  font-size: 30px;
  margin: 10px;
}

#text-input {
  font-size: 25px;
}
